<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ urls.static('app.css') }}?{{ app_css_hash }}">

    {% for url in extra_css_urls %}
      <link rel="stylesheet" href="{{ url.url }}"{% if url.sri %} integrity="{{ url.sri }}" crossorigin="anonymous"{% endif %}>
    {% endfor %}

    {% for url in extra_js_urls %}
      <script {% if url.module %}type="module" {% endif %}src="{{ url.url }}"{% if url.sri %} integrity="{{ url.sri }}" crossorigin="anonymous"{% endif %}></script>
    {% endfor %}

    {% block extra_head %}{% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <header class="flex flex-col justify-center bg-white text-black">
      <div class="logo py-2">
        <img src="/static/img/mozart.jpg" class="rounded-full" alt="Mozart">
      </div>

      <div class="text-center">
        <p>I'm a good boy!</p>
      </div>

      <nav>
        {% block nav %}
          {% set links = menu_links() %}

          {% if links %}
            <div class="nav-menu-inner">
              {% if links %}
                <ul>
                  {% for link in links %}
                    <li><a href="{{ link.href }}">{{ link.label }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endif %}
        {% endblock %}
      </nav>
    </header>

    {% block messages %}
      {% if show_messages %}
        {% for message, message_type in show_messages() %}
          {% if message_type == 1 %}
            <p class="message-info">{{ message }}</p>
          {% elif message_type == 2 %}
            <p class="message-warning">{{ message }}</p>
          {% elif message_type == 3 %}
            <p class="message-error">{{ message }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endblock %}

    <section class="content">
      {% block content %}
      {% endblock %}
    </section>

    <footer class="ft">
      {% block footer %}

        {% include "_footer.html" %}

      {% endblock %}
    </footer>

    {% include "_close_open_menus.html" %}

    {% for body_script in body_scripts %}
      <script{% if body_script.module %} type="module"{% endif %}>{{ body_script.script }}</script>
    {% endfor %}

    {% if select_templates %}<!-- Templates considered: {{ select_templates|join(", ") }} -->{% endif %}
  </body>
</html>
